In [2]:
# Import the dependencies.
# Import the datetime module from the datetime library.
from datetime import datetime
import pandas as pd
import numpy as np
import requests
from citipy import citipy
import json
import subprocess
import psycopg2

# Import the API key.
from config import client_id, client_secret, redirect_url, base_url, oauth_url

url = "https://api.procore.com/oauth/token?grant_type=client_credentials&client_id=" + client_id + "&client_secret=" + client_secret

In [3]:
## Obtain Access Token for Procore API

response = requests.post(url).json()
token = response.get('access_token')

In [4]:
print(token)

eyJhbGciOiJFUzUxMiJ9.eyJhaWQiOiI0M2Q3ODgzZDE3NjJmZGI4NjQ4MmIwNWZmOWY0ZTJlYzg2YTcwZWU2NGRjOTI3NTY4MGRiYzc4OWNjYWI3ZjUwIiwiYW91aWQiOjc4ODc4MDUsImFvdXVpZCI6IjFmZjI3Yjg1LWI0ZDAtNDljZi1iNzRmLWRmMzZiYmY0ZjM5NiIsImV4cCI6MTYzNzA5NjIyNSwidWlkIjpudWxsLCJ1dWlkIjpudWxsfQ.Abdp8mud1ou8tXKGJDRGAIfyftjOdVRYgJSQhr7lFUvETiaS0vWa8mGCJsnQ628wkQIvsb3x7Dm7t3NJfdYD53n-AZ3wvkRmO3xurMlFXLEwB0-gwuuoST0o3m9u1L5hbOAAYnghqXDP0vpGP8mZ0QZZzS1PeKEXqUIZr5I2krOHOLOs

In [5]:
## Load Data from Project Database T:\zz Tools\Project Database.xlsx

projects_df = pd.read_excel(open('T:/zz Tools/Project Database.xlsm', 'rb'), sheet_name='EVERYTHING')

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [6]:
## Set first column as index
projects_df = projects_df.set_index("Category")

projects_df

,Description,Job 1,Job 2,Job 3,Job 4,Job 5,Job 6,Job 7,Job 8,Job 9,...,Job 500,-,Unnamed: 503,Unnamed: 504,Unnamed: 505,Unnamed: 506,Unnamed: 507,Unnamed: 508,Unnamed: 509,Unnamed: 510
Category,,,,,,,,,,,,,,,,,,,,,
Project #,Show highlights,15002,15003,15004,15005,15006,16001,16002,16003,16004,...,NaN,-,NaN,Composite Averages,NaN,NaN,NaN,NaN,NaN,NaN
Developer,no,OHT Partners,OHT Partners,OHT Partners,Ardent,IMT,Ardent,GenCap,OHT Partners,Centro,...,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Project Name,Required?,Kingsland,Lenox Boardwalk - Pleasant Valley,Agora Palms,Ocotillo,Riata,Farmhouse,Rialto,Lenox Springs,Tarlton 360,...,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last Updated,NaN,2017-10-24 00:00:00,2018-04-20 00:00:00,2017-05-10 00:00:00,NaN,NaN,2017-10-05 00:00:00,NaN,2018-06-20 00:00:00,NaN,...,NaN,-,Date Filter,not set up,NaN,NaN,NaN,NaN,NaN,NaN
Project Type,NaN,Garden,Wrap,Garden,Garden,Garden,Garden,Garden,Garden,Podium,...,NaN,-,Select Type,Garden,Wrap,Podium,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
06-01-250,Amenity Appliances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7957.868814,8463.263143,5472.1312,NaN,NaN,NaN,NaN
50-01-100,CM Contingency,136041.84,0,NaN,NaN,NaN,715588,NaN,189355,NaN,...,NaN,NaN,NaN,877375.571381,1085959.215583,963899.822458,NaN,NaN,NaN,NaN
50-01-102,Escalation Contingency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50-01-110,GC Fee,1403950,1555525.93,706741,NaN,NaN,828617,NaN,1634435,NaN,...,NaN,NaN,NaN,1461844.632962,1636297.144417,1486008.956134,NaN,NaN,NaN,NaN
50-01-200,Performance Bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30713.015256,13940.142857,16697.24,NaN,NaN,NaN,NaN

In [7]:
## Select Test Project
push_test = projects_df["Job 50"]
push_test = push_test[0:33]
push_test = push_test.rename({"Project #": "project_number", "Project Name": "name", "Last Updated": "updated_at", "Project Type": "project_type", "Project Sub-Type": "custom_field_235145", "Special Type": "departments", "Region": "city", "Soil Conditions": "custom_field_234689", "Acres": "custom_field_234690", "Buildings": "custom_field_234691", "Apartments": "custom_field_234819", "Bedrooms": "custom_field_234692"})

In [8]:
push_test['updated_at'] = str(push_test['updated_at'])

In [41]:
push_test

Category
project_number                            18003
Developer                                   CWS
name                         View on the Square
updated_at                  2018-04-03 00:00:00
project_type                             Podium
custom_field_235145    5-Story - Precast Garage
departments                             Student
city                                 San Marcos
Project Manager                             NaN
Fixture/Finish Lvl                          NaN
Job Status                               Canned
custom_field_234689                        rock
WQ Pond                                     NaN
Det. Pond                                   NaN
PC Garage Spaces                            NaN
CIP Garage Spaces                           NaN
Levels UG Parking                           NaN
custom_field_234690                           1
custom_field_234691                           1
Framed Stories                              NaN
custom_field_234819                         120
Townhomes                                   NaN
custom_field_234692                         373
NRSF                                     131730
GSF                                         NaN
Avg. Unit Size                          1097.75
Start                                       NaN
Est./Actual Finish                          NaN
Hard Cost $/Unit                    206855.5125
Total $/Unit                      221335.398375
Hard Cost $/NRSF                     188.435903
Total $/NRSF                         201.626416
Grand Total                        26560247.805
Name: Job 50, dtype: object

In [9]:
## Get Custom Fields from Procore -- Needs translation

get_fields = "https://api.procore.com/rest/v1.0/companies/7930/configurable_field_sets/68230"

fields = requests.get(get_fields, headers={"Authorization": "Bearer " + token}).json()

fields_df = pd.json_normalize(fields)

fields_df

,id,category,class_name,deletable,generic_tool_id,inspection_type_id,name,projects,sections,updated_at,...,fields.custom_field_235145.list_of_values,fields.custom_field_235145.name,fields.custom_field_235145.position,fields.custom_field_235145.required,fields.custom_field_235145.row,fields.custom_field_235145.variant,fields.custom_field_235145.visible,updated_by.id,updated_by.login,updated_by.name
0,68230,,Project,True,None,None,OHT Standard Fieldset,"[{'id': 492116, 'name': '18003 - View on the S...","[{'id': 42726, 'description': None, 'from_v1_c...",2021-11-15T20:02:11Z,...,"[{'id': 177572, 'active': True, 'label': 'Defa...",custom_field_235145,5,False,3,None,True,1904596,tgriggs@ohtpartners.com,

In [10]:
filler_df = pd.DataFrame.from_dict(fields['fields'])
filler_df

,fax,zip,city,flag,name,phone,active,county,address,icon_id,...,accounting_project_number,custom_field_168942,custom_field_168943,custom_field_168944,custom_field_234689,custom_field_234690,custom_field_234691,custom_field_234692,custom_field_234819,custom_field_235145
name,fax,zip,city,flag,name,phone,active,county,address,icon_id,...,accounting_project_number,custom_field_168942,custom_field_168943,custom_field_168944,custom_field_234689,custom_field_234690,custom_field_234691,custom_field_234692,custom_field_234819,custom_field_235145
visible,False,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
required,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,155694,155695,155693,339381,339382,339383,339384,339500,339865
column,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7,1,1,1,7,1,7,1,7
column_width,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6,6,6,6,6,6,6,6,6
company_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7930,7930,7930,7930,7930,7930,7930,7930,7930
custom_field_definition_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,168942,168943,168944,234689,234690,234691,234692,234819,235145
custom_fields_section_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,42726,42726,42726,None,None,None,None,None,None
data_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,string,boolean,boolean,string,decimal,decimal,decimal,decimal,lov_entry
default_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
host_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Project,Project,Project,Project,Project,Project,Project,Project,Project
label,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Draw Date,"Include Material, Labor, and Sales Tax Costs i...",Invoicing – Subcontract template,Soil Conditions,Acres,Buildings,Bedrooms,Units,Project Sub-Type
position,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8,9,7,4,3,2,1,0,5
row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,2,1,3,2,2,1,1,3
variant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,None,None,None,None,None,None,None,None,None
list_of_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'id': 177572, 'active': True, 'label': 'Defa..."

In [11]:
fields_df = filler_df.iloc[:,40:46]

fields_df

,custom_field_234689,custom_field_234690,custom_field_234691,custom_field_234692,custom_field_234819,custom_field_235145
name,custom_field_234689,custom_field_234690,custom_field_234691,custom_field_234692,custom_field_234819,custom_field_235145
visible,True,True,True,True,True,True
required,False,False,False,False,False,False
id,339381,339382,339383,339384,339500,339865
column,1,7,1,7,1,7
column_width,6,6,6,6,6,6
company_id,7930,7930,7930,7930,7930,7930
custom_field_definition_id,234689,234690,234691,234692,234819,235145
custom_fields_section_id,None,None,None,None,None,None
data_type,string,decimal,decimal,decimal,decimal,lov_entry
default_value,None,None,None,None,None,None
description,None,None,None,None,None,None
host_type,Project,Project,Project,Project,Project,Project
label,Soil Conditions,Acres,Buildings,Bedrooms,Units,Project Sub-Type
position,4,3,2,1,0,5
row,3,2,2,1,1,3
variant,None,None,None,None,None,None
list_of_values,NaN,NaN,NaN,NaN,NaN,"[{'id': 177572, 'active': True, 'label': 'Defa..."

In [12]:
push_list = push_test.tolist()

In [13]:
print(push_list)

[18003, 'CWS', 'View on the Square', '2018-04-03 00:00:00', 'Podium', '5-Story - Precast Garage', 'Student', 'San Marcos', nan, nan, 'Canned', 'rock', nan, nan, nan, nan, nan, 1, 1, nan, 120, nan, 373, 131730, nan, 1097.75, nan, nan, 206855.5125, 221335.398375, 188.4359029833751, 201.62641619221134, 26560247.805]

In [14]:
## Get Projects from Procore

get_projects = "https://api.procore.com/rest/v1.0/projects?company_id=7930"

projects = requests.get(get_projects, headers={"Authorization": "Bearer " + token}).json()

projects_df = pd.json_normalize(projects)

projects_df

,id,name,display_name,project_number,address,city,state_code,country_code,zip,county,...,custom_fields.custom_field_234691.data_type,custom_fields.custom_field_234691.value,custom_fields.custom_field_234692.data_type,custom_fields.custom_field_234692.value,custom_fields.custom_field_234819.data_type,custom_fields.custom_field_234819.value,custom_fields.custom_field_235145.data_type,custom_fields.custom_field_235145.value,company.id,company.name
0,1740268,1030 Fort Worth Avenue,21051 - 1030 Fort Worth Avenue,21051,1030 Fort Worth Avenue,Dallas,TX,US,75208,Dallas County,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
1,995936,10300 Metropolitan,19038 - 10300 Metropolitan,19038,10300 Metropolitan Drive,Austin,TX,US,78759,None,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
2,1433517,1210 W 5th St,20079 - 1210 W 5th St,20079,1210 W 5th Street,Austin,TX,US,78703,None,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
3,1792896,1604 O'Conner Townhomes,21058 - 1604 O'Conner Townhomes,21058,None,None,None,US,None,None,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
4,1771335,200 West John Carpenter,21056 - 200 West John Carpenter,21056,,Las Colinas,,US,,,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,1757867,Wolf Ranch,21054 - Wolf Ranch,21054,None,None,None,US,None,None,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
302,1666165,Woodland Green,19047 - Woodland Green,19047,,Austin,,US,,Travis County,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
303,917489,Workforce Concept,19026 - Workforce Concept,19026,,Austin,TX,US,,None,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
304,991172,Wrap Tower Ft Worth,19036 - Wrap Tower Ft Worth,19036,,Fort Worth,TX,US,,None,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."
305,658164,Yaupon,18049 - Yaupon,18049,7870 W. US 290,Austin,TX,US,78736,Travis County,...,decimal,None,decimal,None,decimal,None,lov_entry,None,7930,"Oden Hughes Taylor Construction, LLC."

In [15]:
projects_df.columns

Index(['id', 'name', 'display_name', 'project_number', 'address', 'city',
       'state_code', 'country_code', 'zip', 'county', 'time_zone', 'latitude',
       'longitude', 'stage', 'phone', 'created_at', 'updated_at', 'active',
       'origin_id', 'origin_data', 'origin_code', 'owners_project_id',
       'estimated_value', 'project_region_id', 'project_bid_type_id',
       'project_owner_type_id', 'photo_id', 'start_date', 'completion_date',
       'total_value', 'accounting_project_number', 'store_number',
       'designated_market_area', 'custom_fields.custom_field_168942.data_type',
       'custom_fields.custom_field_168942.value',
       'custom_fields.custom_field_168943.data_type',
       'custom_fields.custom_field_168943.value',
       'custom_fields.custom_field_168944.data_type',
       'custom_fields.custom_field_168944.value',
       'custom_fields.custom_field_234689.data_type',
       'custom_fields.custom_field_234689.value',
       'custom_fields.custom_field_234690.data_type',
       'custom_fields.custom_field_234690.value',
       'custom_fields.custom_field_234691.data_type',
       'custom_fields.custom_field_234691.value',
       'custom_fields.custom_field_234692.data_type',
       'custom_fields.custom_field_234692.value',
       'custom_fields.custom_field_234819.data_type',
       'custom_fields.custom_field_234819.value',
       'custom_fields.custom_field_235145.data_type',
       'custom_fields.custom_field_235145.value', 'company.id',
       'company.name'],
      dtype='object')

In [49]:
## Build the body of our push request
push_dict = {
  "project": {
    "name": "View on the Square"
  }
}

## Take the renamed items in "Push_Test" and translate them into our dictionary payload
for index,data in push_test.items():
  if push_test.isna()[index]:
        print("got a nan")
        data = "No Info"
  push_dict["project"][f"{index}"] = data

# for row in projects_df.iterrows():
#     if row[1]["name"] == push_list[2]:
#         for index, data in row[1].items():
#             # print(f"Index: {index}   Data: {data}\n")
#             for col in fields_df.columns:
#                 match_str_value = "custom_fields." + col + ".value"
#                 if index == match_str_value:
#                     print("found")
#                     push_dict["project"][f"{col}"] = data

got a nan
got a nan
got a nan
got a nan
got a nan
got a nan
got a nan
got a nan
got a nan
got a nan
got a nan
got a nan

In [50]:
print(push_dict)

{'project': {'name': 'View on the Square', 'project_number': 18003, 'Developer': 'CWS', 'updated_at': '2018-04-03 00:00:00', 'project_type': 'Podium', 'custom_field_235145': '5-Story - Precast Garage', 'departments': 'Student', 'city': 'San Marcos', 'Project Manager': 'No Info', 'Fixture/Finish Lvl': 'No Info', 'Job Status': 'Canned', 'custom_field_234689': 'rock', 'WQ Pond': 'No Info', 'Det. Pond': 'No Info', 'PC Garage Spaces': 'No Info', 'CIP Garage Spaces': 'No Info', 'Levels UG Parking': 'No Info', 'custom_field_234690': 1, 'custom_field_234691': 1, 'Framed Stories': 'No Info', 'custom_field_234819': 120, 'Townhomes': 'No Info', 'custom_field_234692': 373, 'NRSF': 131730, 'GSF': 'No Info', 'Avg. Unit Size': 1097.75, 'Start': 'No Info', 'Est./Actual Finish': 'No Info', 'Hard Cost $/Unit': 206855.5125, 'Total $/Unit': 221335.398375, 'Hard Cost $/NRSF': 188.4359029833751, 'Total $/NRSF': 201.62641619221134, 'Grand Total': 26560247.805}}

In [23]:
type(push_dict)

dict

In [51]:
## Generate payload -- convert to JSON
# payload = json.dumps({
#   "project": {
#     "name": "View on the Square",
#     "project_number": 18003,
#     "Developer": "CWS",
#     "updated_at": "2018-04-03 00:00:00",
#     "project_type": "Podium",
#     'custom_field_235145': '5-Story - Precast Garage',
#     'departments': 'Student',
#     'city': 'San Marcos',
#     'Project Manager': nan
#   }
# })

payload = json.dumps(push_dict)

## Define header for PATCH request
headers = {
  'Authorization': 'Bearer ' + token,
  'Content-Type': 'application/json'
}

In [52]:
print(payload)

{"project": {"name": "View on the Square", "project_number": 18003, "Developer": "CWS", "updated_at": "2018-04-03 00:00:00", "project_type": "Podium", "custom_field_235145": "5-Story - Precast Garage", "departments": "Student", "city": "San Marcos", "Project Manager": "No Info", "Fixture/Finish Lvl": "No Info", "Job Status": "Canned", "custom_field_234689": "rock", "WQ Pond": "No Info", "Det. Pond": "No Info", "PC Garage Spaces": "No Info", "CIP Garage Spaces": "No Info", "Levels UG Parking": "No Info", "custom_field_234690": 1, "custom_field_234691": 1, "Framed Stories": "No Info", "custom_field_234819": 120, "Townhomes": "No Info", "custom_field_234692": 373, "NRSF": 131730, "GSF": "No Info", "Avg. Unit Size": 1097.75, "Start": "No Info", "Est./Actual Finish": "No Info", "Hard Cost $/Unit": 206855.5125, "Total $/Unit": 221335.398375, "Hard Cost $/NRSF": 188.4359029833751, "Total $/NRSF": 201.62641619221134, "Grand Total": 26560247.805}}

In [53]:
## PATCH (update) Project in Procore

{"project": {"name": "View on the Square", "project_number": 18003, "Developer": "CWS", "updated_at": "2018-04-03 00:00:00", "project_type": "Podium", "custom_field_235145": "5-Story - Precast Garage", "departments": "Student", "city": "San Marcos", "Project Manager": "No Info", "Fixture/Finish Lvl": "No Info", "Job Status": "Canned", "custom_field_234689": "rock", "WQ Pond": "No Info", "Det. Pond": "No Info", "PC Garage Spaces": "No Info", "CIP Garage Spaces": "No Info", "Levels UG Parking": "No Info", "custom_field_234690": 1, "custom_field_234691": 1, "Framed Stories": "No Info", "custom_field_234819": 120, "Townhomes": "No Info", "custom_field_234692": 373, "NRSF": 131730, "GSF": "No Info", "Avg. Unit Size": 1097.75, "Start": "No Info", "Est./Actual Finish": "No Info", "Hard Cost $/Unit": 206855.5125, "Total $/Unit": 221335.398375, "Hard Cost $/NRSF": 188.4359029833751, "Total $/NRSF": 201.62641619221134, "Grand Total": 26560247.805}}

get_update = "https://api.procore.com/rest/v1.0/projects/492116?company_id=7930"

try:
    update = requests.request("PATCH", get_update, headers=headers, data=payload)
except ValueError:
    print(update)

In [54]:
print(update)

<Response [422]>