In [23]:
# Import the dependencies.
# Import the datetime module from the datetime library.
from datetime import datetime
import pandas as pd
import numpy as np
import requests
from citipy import citipy
import json
import subprocess
import psycopg2

In [24]:
# Import the API key.
from config import client_id, client_secret, redirect_url, base_url, oauth_url

In [25]:
df =  pd.read_csv("//SERVER/Home$/jbell/Convert.csv")

In [28]:
df.head()

,Columns A & B should be linked to CostCode Table,Unnamed: 1,Exclude Comments,Current Budget,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Internal Estimate,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Qualifications,Unnamed: 23,Unnamed: 24,Specs,Assumptions,Alternates,Alt Included,Unnamed: 29,"Bidder's & Amounts - Unfortunately without dates from the Scope Sheets, this is not useful to send to the DB. Something for future would be to pull the bidders, amounts, and dates from the individual scope sheets - ie: 01-06-120 - Surveying",Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Other Project Costs (per NRSF & Unit),Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Other Project Differences (per NRSF & Unit),Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,NRSF Cost Tracking,Unnamed: 58,Unnamed: 59,Unnamed: 60,Other Project Costs ($ Amount),Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Other Project Differences ($ Amount),Unnamed: 69,Unnamed: 70,Unnamed: 71,$ Cost Tracking,Unnamed: 73,Unnamed: 74,Unnamed: 75,CSI Division Mapping,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unit/NRSF/GCs Separation,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126
0,Project Name:,Broadmoor Block F,-,"48,473,675",NaN,NaN,Spread Variance %:,NaN,NaN,"45,716,113",#VALUE!,205.90,194.18,#VALUE!,"178,212","168,074",#VALUE!,"134,276","126,637","(48,473,675)","2,757,562","(45,716,113)",NaN,NaN,NaN,Trade Filter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bid Analysis,195.80,"151,703",213.58,"171,077",189.18,"141,514",NaN,199.52,"154,765",NaN,$/SF & Unit,195.80,"151,703",213.58,"171,077",189.18,"141,514",$/SF & Unit Differences,Highlight:,$2.00,/NRSF lower,$/SF & Unit Highlight Settings,"47,634,851","50,125,619","45,425,875",NaN,"47,728,781.63",NaN,$ Amounts,"47,634,851","50,125,619","45,425,875",$ Amount Differences,Highlight:,"$250,000",lower,$ Amount Highlight Settings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Developer:,Brandywine,-,"53,321,043",NaN,NaN,NaN,NaN,NaN,"50,287,724",#VALUE!,226.49,213.60,#VALUE!,"196,033","184,881",#VALUE!,"147,704","139,301","(53,321,043)","3,033,319","(50,287,724)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215.53,"166,994",223.81,"179,269",196.43,"146,940",NaN,211.92,"164,401",NaN,NaN,215.53,"166,994",223.81,"179,269",196.43,"146,940",NaN,Highlight:,$2.00,/NRSF higher,NaN,"52,436,066","52,525,879","47,167,852",NaN,"50,709,932.30",NaN,NaN,"52,436,066","52,525,879","47,167,852",NaN,Highlight:,"$250,000",higher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Current Plans:,8/27/21 GFF Arch Permit Set,NaN,Permit Set,NaN,NaN,NaN,NaN,NaN,Permit Set,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Filter bids older than this date:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,775,Avg. SF/Unit,801,Avg. SF/Unit,748,Avg. SF/Unit,NaN,774,Avg. SF/Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avg. Unit: 775,Avg. Unit: 801,Avg. Unit: 748,NaN,Avg. Unit: 774,NaN,NaN,215.53/NRSF,223.81/NRSF,196.43/NRSF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Region:,NaN,NaN,Austin,NaN,NaN,NaN,NaN,NaN,Austin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Filter Drop-down lists here,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Offsite Work?,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Show Similar or All Project Types:,All_Project_Types,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.columns

Index(['Columns A & B should be linked to CostCode Table', 'Unnamed: 1',
       ' Exclude Comments ', ' Current Budget ', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', ' Internal Estimate ',
       ...
       'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120',
       'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124',
       'Unnamed: 125', 'Unnamed: 126'],
      dtype='object', length=127)

In [22]:
display([df.iloc[20]])

[18
 Cost Code                                                 NaN
 Description                                      Assistant #3
 NaN                                                       NaN
  Budget                                                   NaN
 Quantity                                                0.75
 Unit of Measure                                           EA
 $/Unit                                             80,000.00
  Modifier                                               1.14
 Sub-totals                                           147,767
 Estimate                                                  NaN
  /NRSF                                                    NaN
  Budget/NRSF                                              NaN
  Estimate/NRSF                                            NaN
  /Unit                                                    NaN
  Budget/Unit                                              NaN
  Estimate/Unit                                            NaN
  /Bed                                                     NaN
  Budget/Bed                                               NaN
  Estimate/Bed                                             NaN
 (OVER)/UNDER                                              NaN
 (OVER)/UNDER                                              NaN
 (OVER)/UNDER                                              NaN
 Qualifications                                            NaN
 NaN                                                       NaN
 Type                                                      NaN
 Specifications/General Clarifications                     NaN
 Assumptions                                               NaN
 Alternates                                                NaN
 Alternate Included?                                       NaN
 NaN                                                       NaN
 Bidder 1                                                  NaN
 Amount                                                    NaN
 Bidder 2                                                  NaN
 Amount                                                    NaN
 Bidder 3                                                  NaN
 Amount                                                    NaN
 Bidder 4                                                  NaN
 Amount                                                    NaN
 NaN                                                       NaN
 $/NRSF                                                    NaN
 $/Unit                                                    NaN
 $/NRSF                                                    NaN
 $/Unit                                                    NaN
 $/NRSF                                                    NaN
 $/Unit                                                    NaN
 NaN                                                       NaN
 $/NRSF                                                    NaN
 $/Unit                                                    NaN
 NaN                                                       NaN
 NaN                                                       NaN
 (10.10)                                                   NaN
 (26,509)                                                  NaN
 7.68                                                      NaN
 (7,135)                                                   NaN
 (16.72)                                                   NaN
 (36,698)                                                  NaN
 NaN                                                       NaN
 Highlight by NRSF, Unit, or Both                          NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 (243,289 / 314)\n$ Amount                                 NaN
 (234,694 / 293)\n$ Amount                                 NaN
 (240,125 / 321)\n$ Amount                                 NaN
 NaN                                                       NaN
 $ Amount                                                  NaN
 NaN                                                       NaN
 NaN                                                       NaN
 $ Amount                                                  NaN
 $ Amount                                                  NaN
 $ Amount                                                  NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 Division                                                  NaN
 Div Allocation                                            NaN
 2nd Division                                              NaN
 Amenity Allocation                                        NaN
 NaN                                                       NaN
 NaN                                                       NaN
  63.10                                                    NaN
  110,732                                                  NaN
  3,029,403                                                NaN
  48,003,250                                               NaN
 NaN                                                       NaN
 NaN                                                       NaN
 Trades                                    General Conditions
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 NaN                                                       NaN
 Name: 40, dtype: object]

In [8]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [9]:
df.isna().sum()

Columns A & B should be linked to CostCode Table                                                                                                                                                                                                    749
Unnamed: 1                                                                                                                                                                                                                                          206
 Exclude Comments                                                                                                                                                                                                                                   722
 Current Budget                                                                                                                                                                                                                                     706
Unnamed: 4                                                                                                                                                                                                                                          570
Unnamed: 5                                                                                                                                                                                                                                          451
Unnamed: 6                                                                                                                                                                                                                                          455
Unnamed: 7                                                                                                                                                                                                                                          179
Unnamed: 8                                                                                                                                                                                                                                          412
 Internal Estimate                                                                                                                                                                                                                                  706
Unnamed: 10                                                                                                                                                                                                                                         721
Unnamed: 11                                                                                                                                                                                                                                         721
Unnamed: 12                                                                                                                                                                                                                                         721
Unnamed: 13                                                                                                                                                                                                                                         721
Unnamed: 14                                                                                                                                                                                                                                         721
Unnamed: 15                                                                                                                                                                                                                                         721
Unnamed: 16                                                                                                                                                                                                                                         721
Unnamed: 17                                                                                                                                                                                                                                         721
Unnamed: 18                                                                                                                                                                                                                                         721
Unnamed: 19                                                                                                                                                                                                                                         720
Unnamed: 20                                                                                                                                                                                                                                         720
Unnamed: 21                                                                                                                                                                                                                                         720
Qualifications                                                                                                                                                                                                                                      867
Unnamed: 23                                                                                                                                                                                                                                         973
Unnamed: 24                                                                                                                                                                                                                                         822
Specs                                                                                                                                                                                                                                               829
Assumptions                                                                                                                                                                                                                                         969
Alternates                                                                                                                                                                                                                                          971
Alt Included                                                                                                                                                                                                                                        971
Unnamed: 29                                                                                                                                                                                                                                         973
Bidder's & Amounts - Unfortunately without dates from the Scope Sheets, this is not useful to send to the DB. Something for future would be to pull the bidders, amounts, and dates from the individual scope sheets - ie: 01-06-120 - Surveying    901
Unnamed: 31                                                                                                                                                                                                                                         826
Unnamed: 32                                                                                                                                                                                                                                         936
Unnamed: 33                                                                                                                                                                                                                                         827
Unnamed: 34                                                                                                                                                                                                                                         956
Unnamed: 35                                                                                                                                                                                                                                         827
Unnamed: 36                                                                                                                                                                                                                                         963
Unnamed: 37                                                                                                                                                                                                                                         827
Unnamed: 38                                                                                                                                                                                                                                         972
Other Project Costs (per NRSF & Unit)                                                                                                                                                                                                               713
Unnamed: 40                                                                                                                                                                                                                                         717
Unnamed: 41                                                                                                                                                                                                                                         711
Unnamed: 42                                                                                                                                                                                                                                         715
Unnamed: 43                                                                                                                                                                                                                                         713
Unnamed: 44                                                                                                                                                                                                                                         717
Unnamed: 45                                                                                                                                                                                                                                         973
Unnamed: 46                                                                                                                                                                                                                                         638
Unnamed: 47                                                                                                                                                                                                                                         639
Unnamed: 48                                                                                                                                                                                                                                         973
Unnamed: 49                                                                                                                                                                                                                                         972
Other Project Differences (per NRSF & Unit)                                                                                                                                                                                                         763
Unnamed: 51                                                                                                                                                                                                                                         768
Unnamed: 52                                                                                                                                                                                                                                         762
Unnamed: 53                                                                                                                                                                                                                                         763
Unnamed: 54                                                                                                                                                                                                                                         763
Unnamed: 55                                                                                                                                                                                                                                         764
Unnamed: 56                                                                                                                                                                                                                                         972
NRSF Cost Tracking                                                                                                                                                                                                                                  684
Unnamed: 58                                                                                                                                                                                                                                         969
Unnamed: 59                                                                                                                                                                                                                                         969
Unnamed: 60                                                                                                                                                                                                                                         972
Other Project Costs ($ Amount)                                                                                                                                                                                                                      718
Unnamed: 62                                                                                                                                                                                                                                         719
Unnamed: 63                                                                                                                                                                                                                                         719
Unnamed: 64                                                                                                                                                                                                                                         973
Unnamed: 65                                                                                                                                                                                                                                         638
Unnamed: 66                                                                                                                                                                                                                                         973
Unnamed: 67                                                                                                                                                                                                                                         972
Other Project Differences ($ Amount)                                                                                                                                                                                                                764
Unnamed: 69                                                                                                                                                                                                                                         764
Unnamed: 70                                                                                                                                                                                                                                         766
Unnamed: 71                                                                                                                                                                                                                                         972
$ Cost Tracking                                                                                                                                                                                                                                     971
Unnamed: 73                                                                                                                                                                                                                                         971
Unnamed: 74                                                                                                                                                                                                                                         971
Unnamed: 75                                                                                                                                                                                                                                         972
CSI Division Mapping                                                                                                                                                                                                                                768
Unnamed: 77                                                                                                                                                                                                                                         966
Unnamed: 78                                                                                                                                                                                                                                         966
Unnamed: 79                                                                                                                                                                                                                                         965

In [10]:
df["Columns A & B should be linked to CostCode Table"].isna().sum()

749

In [11]:
df.columns = df.iloc[18]

In [12]:
df.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19], axis=0, inplace= True)

In [13]:
df_cut = df.loc[20:66]

In [21]:
df_cut.head(3)

18,Cost Code,Description,NaN,Budget,Quantity,Unit of Measure,$/Unit,Modifier,Sub-totals,Estimate,/NRSF,Budget/NRSF,Estimate/NRSF,/Unit,Budget/Unit,Estimate/Unit,/Bed,Budget/Bed,Estimate/Bed,(OVER)/UNDER,(OVER)/UNDER,(OVER)/UNDER,Type,$/NRSF,$/Unit,$/NRSF,$/Unit,$/NRSF,$/Unit,$/NRSF,$/Unit,(10.10),"(26,509)",7.68,"(7,135)",(16.72),"(36,698)","Highlight by NRSF, Unit, or Both","(243,289 / 314)\n$ Amount","(234,694 / 293)\n$ Amount","(240,125 / 321)\n$ Amount",$ Amount,$ Amount,$ Amount,$ Amount,Division,Trades
20,NaN,GENERAL CONDITIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GENERAL CONDITIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,01-01-100,Administrative Overhead,-,"76,448",NaN,NaN,Annual Salary/Total Bonus,Burden+Inflation,NaN,"76,448",#VALUE!,0.32,0.32,#VALUE!,281,281,#VALUE!,212,212,"(76,448)",-,"(76,448)",Est,0.46,357,0.36,290,0.43,324,0.42,324,0.14,76,0.04,9,0.11,43,Both,"112,000","85,000","104,000","100,333","35,552","8,552","27,552",1,General Conditions
22,NaN,CA Salary,NaN,NaN,0.33,EA,"75,000.00",1.29,"68,998",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,General Conditions

In [15]:
df_cut = df_cut.dropna(how="all", axis=1)

In [16]:
df_cut.columns

Index([                       'Cost Code',                      'Description',
                                      nan,                         ' Budget ',
                               'Quantity',                  'Unit of Measure',
                                 '$/Unit',                       ' Modifier ',
                             'Sub-totals',                         'Estimate',
                                ' /NRSF ',                    ' Budget/NRSF ',
                        ' Estimate/NRSF ',                          ' /Unit ',
                          ' Budget/Unit ',                  ' Estimate/Unit ',
                                 ' /Bed ',                     ' Budget/Bed ',
                         ' Estimate/Bed ',                     '(OVER)/UNDER',
                           '(OVER)/UNDER',                     '(OVER)/UNDER',
                                   'Type',                           '$/NRSF',
                                 '$/Unit',                           '$/NRSF',
                                 '$/Unit',                           '$/NRSF',
                                 '$/Unit',                           '$/NRSF',
                                 '$/Unit',                          '(10.10)',
                               '(26,509)',                            '7.68 ',
                                '(7,135)',                          '(16.72)',
                               '(36,698)', 'Highlight by NRSF, Unit, or Both',
              '(243,289 / 314)\n$ Amount',        '(234,694 / 293)\n$ Amount',
              '(240,125 / 321)\n$ Amount',                         '$ Amount',
                               '$ Amount',                         '$ Amount',
                               '$ Amount',                         'Division',
                                 'Trades'],
      dtype='object', name=18)

In [17]:
df_final = df_cut.fillna(0)

In [18]:
df_final

18,Cost Code,Description,NaN,Budget,Quantity,Unit of Measure,$/Unit,Modifier,Sub-totals,Estimate,/NRSF,Budget/NRSF,Estimate/NRSF,/Unit,Budget/Unit,Estimate/Unit,/Bed,Budget/Bed,Estimate/Bed,(OVER)/UNDER,(OVER)/UNDER,(OVER)/UNDER,Type,$/NRSF,$/Unit,$/NRSF,$/Unit,$/NRSF,$/Unit,$/NRSF,$/Unit,(10.10),"(26,509)",7.68,"(7,135)",(16.72),"(36,698)","Highlight by NRSF, Unit, or Both","(243,289 / 314)\n$ Amount","(234,694 / 293)\n$ Amount","(240,125 / 321)\n$ Amount",$ Amount,$ Amount,$ Amount,$ Amount,Division,Trades
20,0,GENERAL CONDITIONS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,GENERAL CONDITIONS,0,0,0,0,0,0,0,0,0
21,01-01-100,Administrative Overhead,-,"76,448",0,0,Annual Salary/Total Bonus,Burden+Inflation,0,"76,448",#VALUE!,0.32,0.32,#VALUE!,281,281,#VALUE!,212,212,"(76,448)",-,"(76,448)",Est,0.46,357,0.36,290,0.43,324,0.42,324,0.14,76,0.04,9,0.11,43,Both,"112,000","85,000","104,000","100,333","35,552","8,552","27,552",1,General Conditions
22,0,CA Salary,0,0,0.33,EA,"75,000.00",1.29,"68,998",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
23,0,Bonus per Employee,0,0,0.33,EA,"15,000.00",0,"4,950",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
24,0,Payroll Processing,0,0,1.00,LS,"2,500.00",0,"2,500",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
25,01-01-110,Project Manager Payroll,-,"374,533",0,0,Annual Salary/Total Bonus,Burden+Inflation,0,"374,533",#VALUE!,1.59,1.59,#VALUE!,"1,377","1,377",#VALUE!,"1,037","1,037","(374,533)",-,"(374,533)",Est,1.20,932,1.51,"1,209",0.80,600,1.17,914,(0.39),(445),(0.08),(168),(0.79),(777),Both,"292,500","354,330","192,500","279,777","(82,033)","(20,203)","(182,033)",1,General Conditions
26,0,Annual Salary,0,0,0.75,EA,"160,000.00",1.29,"334,533",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
27,0,Bonus per Employee,0,0,1.00,EA,"40,000.00",0,"40,000",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
28,01-01-112,Project Coordinator Payroll,-,"114,980",0,0,Annual Salary/Total Bonus,Burden+Inflation,0,"114,980",#VALUE!,0.49,0.49,#VALUE!,423,423,#VALUE!,319,319,"(114,980)",-,"(114,980)",Est,0.24,184,0.32,256,0.22,162,0.26,201,(0.25),(239),(0.17),(167),(0.27),(261),Both,"57,750","75,000","52,000","61,583","(57,230)","(39,980)","(62,980)",1,General Conditions
29,0,Annual Salary,0,0,0.33,EA,"80,000.00",1.29,"73,597",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
30,0,Scheduler,0,0,0.125,EA,"100,000.00",-,"27,083",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
31,0,Bonus per Employee,0,0,0.33,EA,"20,000.00",0,"14,300",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
32,01-01-120,Superintendent Payroll,-,"459,251",0,0,Annual Salary/Total Bonus,Burden+Inflation,0,"459,251",#VALUE!,1.95,1.95,#VALUE!,"1,688","1,688",#VALUE!,"1,272","1,272","(459,251)",-,"(459,251)",Est,1.56,"1,210",1.76,"1,412",1.48,"1,106",1.60,"1,243",(0.39),(478),(0.19),(277),(0.47),(583),Both,"380,000","413,625","355,000","382,875","(79,251)","(45,626)","(104,251)",1,General Conditions
33,0,Superintendent,0,0,1.00,EA,"150,000.00",1.14,"369,417",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
34,0,Bonus per Employee,0,0,1.00,EA,"30,000.00",0,"30,000",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
35,0,General Superintendent,0,0,0.125,EA,"170,000.00",1.14,"52,334",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
36,0,Bonus per Employee,0,0,0.125,EA,"60,000.00",0,"7,500",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
37,01-01-130,Asst. Superintendent Payroll,-,"554,684",0,0,Annual Salary/Total Bonus,Burden+Inflation,0,"554,684",#VALUE!,2.36,2.36,#VALUE!,"2,039","2,039",#VALUE!,"1,537","1,537","(554,684)",-,"(554,684)",Est,2.40,"1,860",2.30,"1,840",2.16,"1,612",2.28,"1,771",0.05,(179),(0.06),(200),(0.20),(427),Both,"584,167","538,983","517,500","546,883","29,483","(15,701)","(37,184)",1,General Conditions
38,0,Assistant #1,0,0,1.00,EA,"90,000.00",1.14,"221,650",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
39,0,Assistant #2,0,0,0.75,EA,"80,000.00",1.14,"147,767",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
40,0,Assistant #3,0,0,0.75,EA,"80,000.00",1.14,"147,767",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
41,0,Assistant #4,0,0,-,EA,"80,000.00",1.14,-,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
42,0,Bonus per Employee,0,0,2.50,EA,"15,000.00",0,"37,500",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
43,01-01-140,Taxes,-,"82,690",0,0,0,0,0,"82,690",#VALUE!,0.35,0.35,#VALUE!,304,304,#VALUE!,229,229,"(82,690)",-,"(82,690)",Est,0.53,411,0.55,439,0.44,330,0.51,393,0.18,107,0.20,135,0.09,26,Both,"129,121","128,555","106,069","121,248","46,431","45,865","23,379",1,General Conditions
44,0,Taxable Amount,0,0,"1,033,624.00",Dollars,0.08,0,"82,690",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
45,01-01-150,Health Insurance,-,"47,125",0,0,Total Cost per Employee,0,0,"47,125",#VALUE!,0.20,0.20,#VALUE!,173,173,#VALUE!,131,131,"(47,125)",-,"(47,125)",Est,0.17,134,0.17,133,0.17,126,0.17,131,(0.03),(39),(0.03),(40),(0.03),(47),Both,"42,000","39,000","40,535","40,512","42,000","39,000","40,535",1,General Conditions
46,0,# of Employees Covered,0,0,3.63,EA,"13,000.00",0,"47,125",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
47,01-01-160,Vehicle Allowance,-,"19,689",0,0,0,0,0,"19,689",#VALUE!,0.08,0.08,#VALUE!,72,72,#VALUE!,55,55,"(19,689)",-,"(19,689)",Est,0.08,62,0.11,84,0.08,58,0.09,68,(0.00),(10),0.02,12,(0.01),(15),Both,"19,600","24,700","18,550","20,950",(89),"5,011","(1,139)",1,General Conditions
48,0,0,0,0,26.00,MO,757.25,0,"19,689",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
49,01-01-170,General Labor,-,"157,733",0,0,Total Cost per Employee full time,% Allocation,0,"157,733",#VALUE!,0.67,0.67,#VALUE!,580,580,#VALUE!,437,437,"(157,733)",-,"(157,733)",Est,0.69,535,0.28,222,0.36,270,0.44,342,0.02,(45),(0.39),(358),(0.31),(310),Both,"168,000","65,000","86,667","106,556","10,267","(92,733)","(71,066)",1,General Requirements
50,0,Punch,0,0,2.00,EA,"197,166.67",0.40,"157,733",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Requirements
51,01-01-180,Temporary Toilets,-,"31,200",0,0,0,0,0,"31,200",#VALUE!,0.13,0.13,#VALUE!,115,115,#VALUE!,86,86,"(31,200)",-,"(31,200)",Est,0.14,107,0.30,238,0.13,97,0.19,148,0.01,(8),0.17,124,(0.00),(18),Both,"33,600","69,850","31,200","44,883","33,600","69,850","31,200",1,General Conditions
52,0,0,0,0,26.00,MO,"1,200.00",0,"31,200",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
53,01-01-190,Temporary Fencing,-,"17,600",0,0,0,0,0,"17,600",#VALUE!,0.07,0.07,#VALUE!,65,65,#VALUE!,49,49,"(17,600)",-,"(17,600)",Est,0.08,61,0.08,67,0.08,62,0.08,63,0.00,(4),0.01,2,0.01,(3),Both,"19,200","19,500","19,832","19,511","1,600","1,900","2,232",1,General Conditions
54,0,0,0,0,22.00,MO,800.00,0,"17,600",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
55,01-01-200,Printing,-,"14,960",0,0,0,0,0,"14,960",#VALUE!,0.06,0.06,#VALUE!,55,55,#VALUE!,41,41,"(14,960)",-,"(14,960)",Est,0.07,54,0.12,93,0.07,51,0.08,66,0.01,(1),0.05,38,0.01,(4),Both,"17,000","27,224","16,500","20,241","2,040","12,264","1,540",1,General Conditions
56,0,0,0,0,272.00,UNITS,55.00,0,"14,960",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
57,01-01-210,Legal/Miscellaneous Expenses,-,"25,000",0,0,0,0,0,"25,000",#VALUE!,0.11,0.11,#VALUE!,92,92,#VALUE!,69,69,"(25,000)",-,"(25,000)",Est,0.06,48,0.07,60,0.09,65,0.07,58,(0.04),(44),(0.03),(32),(0.02),(26),Both,"15,000","17,500","21,022","17,841","(10,000)","(7,500)","(3,978)",1,General Conditions
58,0,0,0,0,1.00,LS,"25,000.00",0,"25,000",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
59,01-01-220,Travel Expenses,-,-,0,0,0,0,0,-,#VALUE!,-,-,#VALUE!,-,-,#VALUE!,-,-,-,-,-,0,-,-,0.09,68,-,-,0.03,23,0,0,0.09,68,0,0,Both,-,"20,000",-,"6,667",0,"20,000",0,1,General Conditions
60,0,0,0,0,-,LS,"15,000.00",0,-,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
61,01-01-230,Staging/Parking,-,-,0,0,0,0,0,-,#VALUE!,-,-,#VALUE!,-,-,#VALUE!,-,-,-,-,-,0,-,-,0.32,256,0.21,156,0.18,137,0,0,0.32,256,0.21,156,Both,-,"75,000","50,000","41,667",0,"75,000","50,000",1,General Conditions
62,0,0,0,0,-,MO,"4,000.00",0,-,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
63,01-01-240,Mobilization,-,"30,000",0,0,0,0,0,"30,000",#VALUE!,0.13,0.13,#VALUE!,110,110,#VALUE!,83,83,"(30,000)",-,"(30,000)",Est,0.21,159,0.13,102,0.12,93,0.15,118,0.08,49,0.00,(8),(0.00),(17),Both,"50,000","30,000","30,000","36,667","20,000",0,0,1,General Conditions
64,0,0,0,0,1.00,LS,"30,000.00",0,"30,000",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions
65,01-01-250,Preconstruction Services,-,"50,000",0,0,0,0,0,"50,000",#VALUE!,0.21,0.21,#VALUE!,184,184,#VALUE!,139,139,"(50,000)",-,"(50,000)",Est,-,-,-,-,-,-,-,-,(0.21),(184),(0.21),(184),(0.21),(184),Both,-,-,-,-,"(50,000)","(50,000)","(50,000)",1,General Conditions
66,0,0,0,0,1.00,LS,"50,000.00",0,"50,000",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,General Conditions

In [19]:
df_final.loc[df_final.columns == 'Cost Code']

18,Cost Code,Description,NaN,Budget,Quantity,Unit of Measure,$/Unit,Modifier,Sub-totals,Estimate,/NRSF,Budget/NRSF,Estimate/NRSF,/Unit,Budget/Unit,Estimate/Unit,/Bed,Budget/Bed,Estimate/Bed,(OVER)/UNDER,(OVER)/UNDER,(OVER)/UNDER,Type,$/NRSF,$/Unit,$/NRSF,$/Unit,$/NRSF,$/Unit,$/NRSF,$/Unit,(10.10),"(26,509)",7.68,"(7,135)",(16.72),"(36,698)","Highlight by NRSF, Unit, or Both","(243,289 / 314)\n$ Amount","(234,694 / 293)\n$ Amount","(240,125 / 321)\n$ Amount",$ Amount,$ Amount,$ Amount,$ Amount,Division,Trades
20,0,GENERAL CONDITIONS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,GENERAL CONDITIONS,0,0,0,0,0,0,0,0,0

In [20]:
df_here = df_here.columns.fillna(0)

NameError: name 'df_here' is not defined

In [ ]:
df_final = df_final.loc[df_final.columns == df_here]

In [ ]:
df_final.columns

Index([                       'Cost Code',                      'Description',
                                      nan,                         ' Budget ',
                               'Quantity',                  'Unit of Measure',
                                 '$/Unit',                       ' Modifier ',
                             'Sub-totals',                         'Estimate',
                                ' /NRSF ',                    ' Budget/NRSF ',
                        ' Estimate/NRSF ',                          ' /Unit ',
                          ' Budget/Unit ',                  ' Estimate/Unit ',
                                 ' /Bed ',                     ' Budget/Bed ',
                         ' Estimate/Bed ',                     '(OVER)/UNDER',
                           '(OVER)/UNDER',                     '(OVER)/UNDER',
                                   'Type',                           '$/NRSF',
                                 '$/Unit',                           '$/NRSF',
                                 '$/Unit',                           '$/NRSF',
                                 '$/Unit',                           '$/NRSF',
                                 '$/Unit',                          '(10.10)',
                               '(26,509)',                            '7.68 ',
                                '(7,135)',                          '(16.72)',
                               '(36,698)', 'Highlight by NRSF, Unit, or Both',
              '(243,289 / 314)\n$ Amount',        '(234,694 / 293)\n$ Amount',
              '(240,125 / 321)\n$ Amount',                         '$ Amount',
                               '$ Amount',                         '$ Amount',
                               '$ Amount',                         'Division',
                                 'Trades'],
      dtype='object', name=18)